<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limxtop.research">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".animator.advance.MainAnimatorActivity"></activity>
        <activity
            android:name=".animator.property.ZoomActivity"
            android:label="@string/title_activity_zoom">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animator.base.BasicAnimatorActivity"
            android:label="@string/title_activity_animator" />
        <activity
            android:name=".animator.base.PathAnimatorActivity"
            android:label="@string/title_activity_bezier_animation" />
        <activity android:name=".animator.base.ViewAnimationActivity" />
        <activity android:name=".animator.base.AnimatorCategoryActivity" />
        <activity
            android:name=".animator.base.ViewAnimatorActivity"
            android:label="@string/title_activity_view_animator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".animator.base.BezierCurveAnimatorActivity" />
        <activity android:name=".draw.MatrixTransformActivity" />
        <activity android:name=".com.limxtop.research.service.ServiceLifeCycleActivity" />

        <service
            android:name=".com.limxtop.research.service.DownloadIntentService"
            android:exported="false" />
        <service
            android:name=".com.limxtop.research.service.PureService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".com.limxtop.research.service.PureServiceActivity" />
        <activity
            android:name=".touch.TouchEventActivity"
            android:label="@string/touch_event_activity" />
        <activity android:name=".camera.TakePhotoActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".camera.VideoActivity" />
        <activity android:name=".draw.StatisticsActivity" />
        <activity android:name=".touch.translation.TranslateActivity" />
        <activity android:name=".draw.CanvasActivity" />
    </application>

</manifest>